@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
/* 
    Background Colour Section
*/
body {
    background-color: hsl(217, 54%, 11%);
}

/* 
    Card Section
*/
.card-container {
    height: 510px;
    width: 300px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
}

/* 
    Equilibrium Section
*/
.equilibrium-container {
    margin-left: 15px;
    margin-right: 15px;
}

.equilibrium-image {
    width: 90%;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 15px;
}



#equilibrium {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    
}

.equilibrium-text {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);

}

/* 
    Ethereum Section
*/
.ethereum-container {
    margin-left: 15px;
    margin-right: 15px;
}

.ethereum-icon {
    float: left;
    margin-right: 5px;
}

#ethereum {
    font-family: 'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
    float: left;
}

.days-left-container {
    /* margin-left: 180px; */
    float: right;
}

.clock-icon {
    float: left;
    margin-right: 5px;
}

#days-left {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    float:inline-end;
}

hr {
    border-top: 1px solid hsl(215, 32%, 27%);
    border-bottom: 0px;
}

/* 
    Avatar Section
*/
.avatar-container {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.avatar-image {
    border: solid white 2px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
}

.avatar-text {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    float: left;
    margin-left: 10px;
}

#avatar-name {
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
}

#avatar-name:hover {
    color: hsl(178, 100%, 50%);
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

span {
    color: hsl(0, 0%, 100%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}