/* 
    Body Background Section
*/
body {
    background-color: hsl(217, 54%, 11%);
}

/* 
    Card Section
*/
.card-container {
    height: 510px;
    width: 300px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    margin: auto;
    margin-top: 200px;
}

/* 
    Equilibrium Section
*/
.equilibrium-image {
    width: 90%;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

/* 
    Icon View Container
*/
.view-image-container {
    margin-top: 215px;
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    top: 0px;
    width: 270px;
    height: 270px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    Mouse Hover Effect With Colour And Opacity
*/
.view-image-container:hover {
    position: absolute;
    background-image: url(/images/icon-view.svg);
    /* 
        Must use background-repeat: no-repeat to stop it 
        from filling the cointainer with images.
    */
    background-repeat: no-repeat;
    background-position: center;
    /* 
        Set the opacity after the colour so, it will not
        blockout the view-icon image.
    */
    background-color: hsl(178, 100%, 50%,0.3); 
    top: 0px;
    width: 270px;
    height: 270px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 215px;
    margin-left: 15px;
    margin-right: 15px;
}

.equilibrium-container {
    margin-left: 15px;
    margin-right: 15px;
}

.equilibrium {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    
}

.equilibrium-text {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
}

/* 
    Ethereum Section
*/
.ethereum-container {
    margin-left: 15px;
    margin-right: 15px;
}

.ethereum-icon {
    float: left;
    margin-right: 5px;
}

.ethereum {
    font-family: 'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
    float: left;
}

/* 
    Days Left Section
*/
.days-left-container {
    float: right;
}

.clock-icon {
    float: left;
    margin-right: 5px;
}

.days-left {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    float: inline-end;
    margin-right: 5px;
}

/* 
    Horizontal Line
*/
hr {
    border-top: 1px solid hsl(215, 32%, 27%);
    border-bottom: 0px;
}

/* 
    Avatar Section
*/
.avatar-container {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.avatar-image {
    border: solid white 2px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
}

.avatar-text {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    float: left;
    margin-left: 10px;
}

.avatar-name {
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
}

#avatar-name:hover {
    color: hsl(178, 100%, 50%);
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

span {
    color: hsl(0, 0%, 100%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}